body {
    font-family: sans-serif;
}
header {
    border:5px solid purple;
    border-radius: 6px;
    background-color: PaleTurquoise;
    padding: 10px;
}
header a {
    text-decoration: none;
    border:3px solid purple;
    border-radius: 6px;
    background-color: white;
    color: black;
    padding: 3px;
}
h1{
    text-align: center;
    color: purple;
}
footer {
   background-color:rgb(249, 159, 185) ;
   padding: 5px;
   border-radius: 6px; 
}
footer p {
    background-color: white;
    padding: 2px;
} 
nav a {
    text-decoration:none ;
    border: 5px solid rgb(249, 159, 185);
    border-radius:7px ;
    padding: 3px;
    margin: 10px;
    color: black;
    background-color: PaleTurquoise ;
} 
nav{
    margin: 10px;
}
.link2{
    background-color: white;
}
.prod {
  border: 3px solid purple;
  padding: 7px;
  border-radius: 8px;  
}
h2{
    text-align: center;
    color:purple ;
}
.link-k{
    text-decoration:none ;
    color: black;
    border:3px solid rgb(249, 159, 185);
    border-radius: 7px;
    padding: 3px;
}
.link-n {
  text-decoration: none ;
    color: black;
    border:3px solid purple;
    border-radius: 7px;
    padding: 3px;   
}

